# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg
*.whl

# Virtual environment
.venv/
venv/
env/

# PyInstaller
*.spec.lock

# Coverage / pytest
htmlcov/
.coverage
.coverage.*
.pytest_cache/

# ruff
.ruff_cache/

# IDE
.vscode/
.idea/

# pyeso output
pyeso_report.txt

# OS
Thumbs.db
.DS_Store
tests/
